<div class="side-bar min-w-50 w-full h-full bg-white p-4 border-1 border-gray-300">

    <div class="side-bar-top h-[90%] overflow-hidden">

        <div class="flex items-center gap-3 pb-4">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" data-alt="User avatar"
                style="background-image: url('/images/user.png');">
            </div>
            <div class="flex flex-col">
                <h1 class="text-text-primary-light dark:text-text-primary-dark text-base font-medium leading-normal">
                    Nelson Dos Santos </h1>
                <p class="text-gray-500 text-sm font-normal leading-normal">
                    myemail@gmail.com</p>
            </div>
        </div>

        <ul class="chat-list text-sm w-full text-left auto-scroll  overflow-y-auto h-full p-2">
            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Amigos do futebol</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Galera da escola</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Time de desenvolvimento</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Família</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Colegas de trabalho</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Estudo Angular</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Amigos de viagem</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">DevOps</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Música lovers</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Receitas e comida</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Clube do Livro</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Projetos pessoais</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Suporte Técnico</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Designers</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Startup Founders</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Vendas</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Marketing</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Animes e Séries</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Saúde e Bem-estar</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Pets</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Fotografia</span>
                    </div>
                </button>
            </li>

            <li class="mb-2">
                <button href="#" class="w-full rounded-lg transition ease-in-out delay-100 duration-250 w-full p-4 text-left flex items-center text-gray-500 hover:text-gray-600 hover:bg-blue-100  transition-colors">
                    <div class="flex items-center gap-2 w-full">
                        <img src="/images/conversation.png" alt="chat icon" class="w-6 h-6 flex-shrink-0">
                        <span class="truncate">Jogos online</span>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <hr class="border-gray-300 mt-4">
    <app-button-primary [text]="'Criar chat'"></app-button-primary>
</div>