<div class="side-bar min-w-50 w-full h-full bg-white p-4 border-1 border-gray-300">

    <div class="side-bar-top h-[90%] overflow-hidden">

        <div class="flex items-center gap-3 pb-4">
            <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10" data-alt="User avatar"
                style="background-image: url('/images/user.png');">
            </div>
            <div class="flex flex-col">
                <h1 class="text-text-primary-light dark:text-text-primary-dark text-base font-medium leading-normal">
                    Nelson Dos Santos </h1>
                <p class="text-gray-500 text-sm font-normal leading-normal">
                    myemail@gmail.com</p>
            </div>
        </div>

        <ul class="text-sm w-full text-left auto-scroll  overflow-y-auto h-full">
            <li class="mb-1"><button href="#"
                    class="text-blue-400 w-full rounded-lg hover:bg-blue-100 transition easy-in-out delay-100 duration-250 w-full p-1 text-left"><span
                        class="text-lg"># &nbsp;</span> Amigos do futebol</button></li>
            <li class="mb-1"><button href="#"
                    class="text-blue-400 w-full rounded-lg hover:bg-blue-100 transition easy-in-out delay-100 duration-250 w-full p-1 text-left"><span
                        class="text-lg"># &nbsp;</span> A vida de um Dev </button></li>
            <li class="mb-1"><button href="#"
                    class="text-blue-400 w-full rounded-lg hover:bg-blue-100 transition easy-in-out delay-100 duration-250 w-full p-1 text-left"><span
                        class="text-lg"># &nbsp;</span> Testando a minha skill </button></li>
            <li class="mb-1"><button href="#"
                    class="text-blue-400 w-full rounded-lg hover:bg-blue-100 transition easy-in-out delay-100 duration-250 w-full p-1 text-left"><span
                        class="text-lg"># &nbsp;</span> Viagens </button></li>
            <li class="mb-1"><button href="#"
                    class="text-blue-400 w-full rounded-lg hover:bg-blue-100 transition easy-in-out delay-100 duration-250 w-full p-1 text-left"><span
                        class="text-lg"># &nbsp;</span> testando a minha skill </button></li>
        </ul>
    </div>
    <hr class="border-gray-300 mt-4">
    <app-button-primary [text]="'Criar chat'"></app-button-primary>
</div>