<div class="p-4">
    <div class="flex gap-1 mb-4">
        <button class="bg-gray-300 rounded-full w-8 h-8" (click)="emmitGoBack()" >
            <
        </button>
        <h1 class="text-xl mb-4">Adicionar Membro</h1>
    </div>
    <form action="www.google.com" method="get" class="add-member-form w-full flex items-center gap-1">
        <div class="w-[50%]">
            <app-text-input [placeholder]="'Email'"></app-text-input>
        </div>
        <app-button-primary [text]="'Buscar'"></app-button-primary>
    </form>
    <section>
        <h2 class="text-md mt-4 mb-2">Resultados da Busca</h2>
        <table class="w-full rounded-md overflow-hidden shadow-md bg-white">
            <thead>
                <tr class="bg-gray-200">
                    <th class="text-left p-2">#</th>
                    <th class="text-left p-2">Nome</th>
                    <th class="text-left p-2">Email</th>
                    <th class="text-left p-2">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-primary [text]="'Adicionar'"></app-button-primary>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-danger [text]="'Remover'"></app-button-danger>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-primary [text]="'Adicionar'"></app-button-primary>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-danger [text]="'Remover'"></app-button-danger>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-primary [text]="'Adicionar'"></app-button-primary>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-danger [text]="'Remover'"></app-button-danger>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-primary [text]="'Adicionar'"></app-button-primary>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-primary [text]="'Adicionar'"></app-button-primary>
                    </td>
                </tr>
                <tr class="border-b border-gray-200">
                    <td class="p-2"><img class="w-10 h-10" src="/images/user.png" alt="user avatar"></td>
                    <td class="p-2">João Silva</td>
                    <td class="p-2">joao.silva@example.com</td>
                    <td class="p-2">
                        <app-button-primary [text]="'Adicionar'"></app-button-primary>
                    </td>
                </tr>  
            </tbody>
        </table>
    </section>
</div>