<div class="introduce-layout flex justify-center items-center">

    <div
        class="login-container flex rounded-lg md:w-2/3 w-full items-start justify-center md:justify-between bg-white ">

        <div class="ilustration-section md:w-1/2 w-0">
            <img src="/images/29210394_38.jpg" alt="chat ballon ilustration" class="w-full min-h{{ heightIlustration }} rounded-lg" />
        </div>
        <ng-content>

        </ng-content>
    </div>
    <footer>
        <small class="text-gray-500">powered by Nelson Dos Santos &copy; 2025/2026</small>
    </footer>
</div>