<div class="introduce-layout flex justify-center items-center">

    <div class="container flex rounded-lg md:w-auto md:max-w-4xl w-full items-center justify-center md:justify-between bg-white">

        @if(showIlustration){
        <div class="ilustration-section md:w-1/2 w-0">
            <img src="/images/29210394_38.jpg" alt="chat ballon ilustration" class="w-full min-h-100 rounded-lg" />
        </div>
        }
        <ng-content>

        </ng-content>
    </div>
    <footer>
        <small class="text-gray-500">powered by Nelson Dos Santos &copy; 2025/2026</small>
    </footer>
</div>